﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<Parsed.Models.Company>

@{
    ViewData["Title"] = Localizer["Companies"];
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DigitalCertificate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DigitalCertificate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>