@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<Parsed.Models.Company>

@{
    ViewData["Title"] = Localizer["Companies"];
}


<div class="table">
    <div class="row">
        <div class="col-sm-6">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-sm-6 hidden-xs" style="text-align:right; padding-top:25px">
            <a asp-action="Create" class="btn btn-parsed">@Localizer["CreateNew"]</a>
        </div>
        <div class="col-sm-6 visible-xs" style="padding-top:10px">
            <a asp-action="Create" class="btn btn-parsed">@Localizer["CreateNew"]</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td style="text-align:right">
                    <a asp-action="Details" asp-route-id="@item.ID" title="@Localizer["Invoices"]"><img src="~/images/icons/charts3.svg" /></a>

                    <a asp-action="Edit" asp-route-id="@item.ID" title="@Localizer["Edit"]"><img src="~/images/icons/edit.svg" /></a>

                    <!--
                    <a asp-action="Users" asp-route-id="@item.ID" title="@Localizer["Users"]"><img src="~/images/icons/people.svg" /></a>
                    -->

                    <a asp-action="Delete" asp-route-id="@item.ID" title="@Localizer["Delete"]"><img src="~/images/icons/delete.svg" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>