@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Generate2faRecoveryCode"];
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["2faRecoveryCodeDescription1"]</strong>
    </p>
    <p>
        @Localizer["2faRecoveryCodeDescription2"]
    </p>
    <p>
        @Localizer["2faRecoveryCodeDescription3"]
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">
            @Localizer["GenerateRecoveryCodes"]
        </button>
    </form>
</div>
