@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HomePage"];
}


<div class="home-banner-container">
    <img src="~/images/banner3_computer.jpg" class="home-banner" />

    <div class="home-banner-whitelayer"> </div>

    <div class="home-banner-logo hidden-xs">
        <img src="~/images/logo_lg.png" width="150" />
    </div>

    <div class="home-banner-text">
        <h1 class="text-center">@Localizer["Title"]</h1>
    </div>
</div>

<br/>

<div class="table">
    <div class="row">
        <div class="home-description col-sm-12">
            &nbsp;&nbsp;@Localizer["Description"]
        </div>
    </div>
</div>

<hr />

<div class="table">
    <div class="row home-section">
        <div class="col-md-4">
            <h2 class="home-subtitle">@Localizer["Banner1Title"]</h2>
            <div class="home-text">@Localizer["Banner1Description"]</div>
        </div>
        <div class="col-md-8 home-image">
            <img src="~/images/banner1_teamwork.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row home-section-2">
        <div class="col-md-4 col-md-push-8">
            <h2 class="home-subtitle">@Localizer["Banner2Title"]</h2>
            <div class="home-text">@Localizer["Banner2Description"]</div>
        </div>
        <div class="col-md-8 col-md-pull-4 home-image">
            <img src="~/images/banner2_financial.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row home-section">
        <div class="col-md-4">
            <h2 class="home-subtitle">@Localizer["Banner3Title"]</h2>
            <div class="home-text">@Localizer["Banner3Description"]</div>
        </div>
        <div class="col-md-8 home-image">
            <img src="~/images/banner3_computer.jpg" class="img-responsive" />
        </div>
    </div>
</div>

